<div class="container-fluid">
  <div class="row">
    <div style="background-color:#0ab228" class="menuBar col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Domov', home_path %></li>
        <li><a href="#">Objednaj</a></li>
        <li><a href="#">Info</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
            <li>
              <a rel="nofollow" data-method="delete" href="<%= destroy_user_session_path %>">Odhlasit</a>
            </li>
        <% else %>
            <li>
              <a href="<%= new_user_registration_path %>">
                Registracia </a>
            </li>
            <li>
              <a href="<%= new_user_session_path %>"> Prihlasenie </a>
            </li>
        <% end %>
      </ul>
    </div>

    <% if user_signed_in? %>
        Pouzivatel: <%= current_user.email %>

    <% end %>
  </div>

  <br><br>

  <div align="center" class="row">
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-2">
      <h1>Nezabudni na pilulky</h1>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean et est a dui semper facilisis. Pellentesque
        placerat elit a nunc. Nullam tortor odio, rutrum quis, egestas ut, posuere sed, felis. Vestibulum placerat
        feugiat nisl. Suspendisse lacinia, odio non feugiat vestibulum, sem erat blandit metus, ac nonummy magna odio
        pharetra felis. Vivamus vehicula velit non metus faucibus auctor. Nam sed augue. Donec orci. Cras eget diam et
        dolor dapibus sollicitudin. In lacinia, tellus vitae laoreet ultrices, lectus ligula dictum dui, eget
        condimentum velit dui vitae ante. Nulla nonummy augue nec pede. Pellentesque ut nulla. Donec at libero.
        Pellentesque at nisl ac nisi fermentum viverra. Praesent odio. Phasellus tincidunt diam ut ipsum. Donec eget
        est.</p>
    </div>
  </div>
</div>

<script>
    (function($, viewport){
        $(document).ready(function() {
            return !!viewport.is('xs');

        });
    })(jQuery, ResponsiveBootstrapToolkit);
</script>