<!DOCTYPE html>
<html>

<head>
  <title>NezabudniLieky</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>

<div class="container-fluid">
  <div class="row">
    <div style="background-color:#0ab228" class="menuBar col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ul class="nav navbar-nav pull-left" style="margin-left:6%;">
        <li>
          <%= image_tag "pg.png", :align => "middle", :alt => "logo", :height => "55px" %>
        </li>
        <li class="active"><%= link_to 'Domov', root_path %></li>
        <% if user_signed_in? %>
            <li><%= link_to 'Môj rozpis', schedule_path %></li>
        <% end %>
        <li><%= link_to 'Informácie', info_path %></li>
      </ul>
      <ul class="nav navbar-nav pull-right" style="margin-right:10%;">
        <% if user_signed_in? %>
            <li><a href="">Používateľ: <%= current_user.email %></a></li>
            <li>
              <a rel="nofollow" data-method="delete" href="<%= destroy_user_session_path %>">Odhlásiť</a>
            </li>
        <% else %>
            <!--<li>-->
            <!--<a href="<%= new_user_registration_path %>">-->
            <!--Registrácia </a>-->
            <!--</li>-->
            <li>
              <a href="<%= new_user_session_path %>"> Prihlásenie </a>
            </li>
        <% end %>
      </ul>
    </div>
  </div>

  <%= yield %>
</div>
</body>
</html>
