<!DOCTYPE html>
<html>

<head>
  <title>NezabudniLieky</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>

<div class="container-fluid">
  <div class="row">
    <div style="background-color:#0ab228" class="menuBar col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ul class="nav navbar-nav pull-left" style="margin-left:10%;">
        <li class="active"><%= link_to 'Domov', home_path %></li>
        <li><a href="#">Objednaj</a></li>
        <li><a href="#">Info</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right" style="margin-right:10%;">
        <% if user_signed_in? %>
            <li>
              Použivateľ: <%= current_user.email %>
            </li>
            <li>
              <a rel="nofollow" data-method="delete" href="<%= destroy_user_session_path %>">Odhlásiť</a>
            </li>
        <% else %>
            <li>
              <a href="<%= new_user_registration_path %>">
                Registrácia </a>
            </li>
            <li>
              <a href="<%= new_user_session_path %>"> Prihlásenie </a>
            </li>
        <% end %>
      </ul>
    </div>
  </div>


  <%= yield %>
</div>


<!--</div>-->
<!--</div>-->
</body>
</html>
